.center_please{
    text-align: center;
}

.space{
    
    width: 19%;
}

#button_search{
    
    width: 20px;
}

.uptop{
    
    margin-top: 10px;
}

.spacewide{
    
    margin-left: 5%;
     margin-right: 5%;
}


