.center_please{
    text-align: center;
}

.space{

    width: 19%;
}

#button_search{

    width: 20px;
}

.uptop{

    margin-top: 10px;
}

.spacewide{

    margin-left: 5%;
     margin-right: 5%;
}

.carousel >img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
}
